<%- include('header_index') %>

    <div class="container">

        <div class="h4 mt-5">ยืนยันการซื้อ</div>

        <form action="" method="post">
            <div class="mt-3">
                <label>ชื่อ</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="mt-3">
                <label>ที่อยู่จัดส่ง</label>
                <input type="text" name="address" class="form-control">
            </div>
            <div class="mt-3">
                <label>เบอร์โทร</label>
                <input type="text" name="phone" class="form-control">
            </div>
            <div class="mt-3">
                <button class="btn btn-info">ยืนยันการซื้อ</button>
            </div>
        </form>

    </div>


    <%- include('footer_index') %>