<%- include('header_index') %>

    <div class="container">

        <div class="alert alert-success">
            บันทึกข้อมูลแล้ว ขอขอบคุณที่ใช้บริการของเรา
        </div>

    </div>


    <%- include('footer_index') %>